nav {
  background-color: #42b5d5;
  z-index: 9;
}

nav img {
  width: 64px;
}

.slider .slides {
  background-color: white;
}

.custom-slider {
    height: 75%;
}

@media screen and (max-device-width: 1259px) {
  .custom-slider {
      height: 55%;
  }
}

.slider .slides li img {
    width: 100%;
    height: auto;
}

.slider .slides li .caption {
  top: 5%;
}

.slider .col.m4 {
  padding-top: 20%;
}

.slider .indicators .indicator-item.active {
  background-color: #42b5d5;
}

.parallax-custom-size-1 {
  height: 700px;
}

.fp-controlArrow.fp-next {
  border-left-color: black;
}

.asd {
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
