<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a [routerLink]="['Home']" class="brand-logo"><img src="app/content/images/house-128.png"/></a>
        <p class="center flow-text">{{title}}</p>
        <!-- <ul class="right side-nav" id="nav-mobile" style="transform: translateX(-100%);">
        <li class="hide-on-small-only"><a href="parallax.html"><i class="mdi-navigation-arrow-back"></i></a></li>
      </ul>
      <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a> -->
    </div>
  </div>
</nav>
</header>
<router-outlet></router-outlet>
