<div class="container-fluid">
  <!--<div class="container">-->
  <div class="row image-logo-div">
    <div class="col m12 s12">
        <h2 class="center-align main-header">“АРЕНДАТОР” - ВАШ ПЕРСОНАЛЬНЫЙ РИЕЛТОР</h2>
    </div> 
    <div class="col m12 s12 center logo-div">
        <img src="app/content/images/logo.png" class="logo"/>
     </div>
  </div>
  <!--</div>-->
</div>
<div class="container">
  <div class="row">
      <div class="col s12 m12 l6 offset-l3">
        <h3 class="center-align suggestion-header">Что мы можем предложить?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <div class="slider custom-slider">
          <ul class="slides">
            <li>
              <div class="caption center-align">
                <div class="row">
                  <div class="col s12 m12 hide-on-large-only">
                    <h3 class="carousel-caption">Просматривайте квартиры!</h3>
                  </div>
                  <div class="col m12 s12 l8 l8 center">
                    <img src="app/content/images/first-slide.png">
                  </div>
                  <div class="col l4 hide-on-med-and-down">
                    <h3 class="carousel-caption">Просматривайте квартиры!</h3>
                  </div>
                </div>
              </div>
            </li>
            <!--<li>
              <div class="caption left-align">
                <div class="row">
                  <div class="col m12 s12 l4">
                    <h3 class="carousel-caption center hide-on-large-only">Делайте закладки!</h3>
                    <h3 class="carousel-caption hide-on-med-and-down">Делайте закладки!</h3>
                  </div>
                  <div class="col m12 s12 l8 center">
                    <img src="app/content/images/second-slide.png">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="caption right-align">
                <div class="row">
                  <div class="col s12 m12 hide-on-large-only">
                    <h3 class="carousel-caption center">Настривайте поиск!</h3>
                  </div>
                  <div class="col m12 s12 l8 l8 center">
                    <img src="app/content/images/third-slide.png">
                  </div>
                  <div class="col l4 hide-on-med-and-down">
                    <h3 class="carousel-caption">Настривайте поиск!</h3>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="caption center-align">
                <div class="row">
                  <div class="col m12 s12 l4">
                    <h3 class="carousel-caption">Оставляйте жалобы!</h3>
                  </div>
                  <div class="col m12 s12 l8 center">
                    <img src="app/content/images/fourth-slide.png">
                  </div>
                </div>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
      <div class="col m4 offset-m3 center">
        <a href="https://play.google.com/store/apps/details?id=by.arendator.arendatorapp" class="center-align"><img src="app/content/images/google-play1.png" class="image-google-play"/></a>
      </div>
    </div>
</div>
  <div class="parallax-container section">
    <div class="parallax"><img src="app/content/images/parallax-2.png"></div>
  </div>