<div class="container-fluid">
  <div class="container">
  <div class="row">
    <div class="col m12">
      <div class="image-logo-div">
        <h2 class="center-align main-header">“АРЕНДАТОР” - ВАШ ПЕРСОНАЛЬНЫЙ РИЕЛТОР</h2>
     </div>
    </div>
  </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col s12 m12 l6 offset-l3">
        <h3 class="center-align suggestion-header">Что мы можем предложить?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <div class="slider custom-slider">
          <ul class="slides">
            <li>
              <div class="caption center-align">
                <div class="row">
                  <div class="col m8">
                    <img src="app/content/images/first-slide.png">
                  </div>
                  <div class="col m4">
                    <h3 class="carousel-caption">Просматривайте квартиры!</h3>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="caption left-align">
                <div class="row">
                  <div class="col m4">
                    <h3 class="carousel-caption">Делайте закладки!</h3>
                  </div>
                  <div class="col m8">
                    <img src="app/content/images/second-slide.png">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="caption right-align">
                <div class="row">
                  <div class="col m8">
                    <img src="app/content/images/third-slide.png">
                  </div>
                  <div class="col m4">
                    <h3 class="carousel-caption">Настривайте поиск!</h3>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="caption center-align">
                <div class="row">
                  <div class="col m4">
                    <h3 class="carousel-caption">Оставляйте жалобы!</h3>
                  </div>
                  <div class="col m8">
                    <img src="app/content/images/fourth-slide.png">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m4 offset-m3 center">
        <a href="#" class="center-align"><img src="app/content/images/google-play1.png" class="image-google-play"/></a>
      </div>
    </div>
</div>
  <div class="parallax-container section">
    <div class="parallax"><img src="app/content/images/parallax-2.png"></div>
  </div>